*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Georgia',serif;
}


body{
    background:#120b12;
    color:white;
    text-align:center;
}



/* LETTERA SEGRETA */

.lettera-overlay{
    position:fixed;
    inset:0;
    background:#120b12;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}


.busta{
    background:white;
    color:#8b1e4a;
    width:320px;
    padding:40px 25px;
    border-radius:20px;
    cursor:pointer;
    box-shadow:0 0 40px rgba(255,255,255,0.2);
    animation:pulsazione 2s infinite;
}


.cuore-lettera{
    font-size:60px;
}


.busta h2{
    margin:20px 0;
}


.messaggio-lettera{
    display:none;
    max-width:600px;
    background:white;
    color:#333;
    padding:40px;
    border-radius:20px;
    line-height:1.8;
    animation:apertura 1s ease;
}


.messaggio-lettera h2,
.messaggio-lettera h3{
    color:#8b1e4a;
}





/* TESTATA */

header{
    padding:60px 20px;
    background:linear-gradient(135deg,#8b1e4a,#180d18);
}


header h1{
    font-size:45px;
}


header p{
    margin-top:15px;
    font-size:20px;
}





/* SEZIONI */

section{
    padding:50px 20px;
}





/* FOTO */

.hero img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
    margin:15px;
    border:4px solid #e8a4c0;
}


.hero h2{
    font-size:35px;
    margin-top:25px;
}





/* CONTATORE */

.counter{
    background:#1c121d;
}


#tempo{
    font-size:28px;
    margin-top:20px;
    color:#ffb6d2;
}





/* STORIA */

.storia p{
    max-width:700px;
    margin:20px auto;
    line-height:1.8;
    font-size:18px;
}





/* MUSICA */

.musica a{
    display:inline-block;
    margin-top:20px;
    padding:15px 30px;
    background:#e91e63;
    color:white;
    text-decoration:none;
    border-radius:30px;
}





/* FINALE */

.finale{
    background:linear-gradient(#1c121d,#8b1e4a);
}


footer{
    padding:20px;
}





/* ANIMAZIONI */

@keyframes pulsazione{

    50%{
        transform:scale(1.05);
    }

}


@keyframes apertura{

    from{
        opacity:0;
        transform:scale(0.5) rotateY(90deg);
    }


    to{
        opacity:1;
        transform:scale(1) rotateY(0);
    }

}




/* TELEFONO */

@media(max-width:600px){

    header h1{
        font-size:32px;
    }


    .hero img{
        width:130px;
        height:130px;
    }

}
#stelle span{
    position:fixed;
    color:white;
    font-size:15px;
    animation: comparsaStella 5s linear forwards;
    pointer-events:none;
}

@keyframes comparsaStella{

    0%{
        opacity:0;
        transform:scale(0);
    }

    50%{
        opacity:1;
    }

    100%{
        opacity:0;
        transform:scale(1.5);
    }

}
